/* General Styles */

a{
    color: #0288d1;
    text-decoration: none;
}

a:hover{
    color: #01579b;
}

body{
    direction: rtl;
    font-family: Tahoma !important;,sans-serif;
    font-size: 12px;

}